button {
    background: royalblue;
    padding: 8px 16px;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background: wheat;
    cursor: not-allowed;
}

b,
label,
p {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}