<label>Server Name</label>
<span>Passing and using data with event binding</span>
<input type="text" (input)="onUpdateServerName($event)">
<b>two way binding</b>
<input type="text" [(ngModel)]="serverName">
<!-- <p>{{ servername }}</p> -->
<button type="button" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server is created, Server Name is {{serverName}}</p>
<app-server *ngFor="let server of servers"></app-server>


<h5>Username</h5>
<input type="text" [(ngModel)]="userName" />
<label>{{ userName }}</label>
<button type="button" [disabled]="userName === ''" (click)="userName = ''">Reset UserName</button>

<app-test></app-test>