body {
    background: #f9f9f9;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    color: tomato;
    padding: 10px 0;
    border-bottom: solid 1px mediumorchid;
}

h2 {
    color: teal;
}