<h1>Test Component</h1>
<div>
    <span [ngStyle]="{color: getTextColor()}">{{showList}}</span>
    <span>{{lists.length}}</span>
    <ul class="box">
        <li *ngFor="let list of lists" [ngClass]="{testbg : showList === 'List Added'}">{{listName}}</li>
    </ul>
    <button class="btn" (click)="addList()">Add List</button>
</div>