h1 {
    background: papayawhip;
    font-size: 28px;
    padding: 5px;
    border: 2px solid burlywood;
}

.box {
    width: 300px;
    height: 300px;
    border: solid 1px #999;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
}

.btn {
    border: none;
    border-radius: 4px;
    background: royalblue;
    color: #fff;
    padding: 6px 18px;
}

span {
    display: block;
    font-weight: bold;
}